/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

html {
	font-size: 62.5%;
}
* {
	color: darkslategray;
}

body {
	background-color: whitesmoke;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

h1 {
	display: block;
	font-size: 2em;
	margin: 0.67em 0 0.67em 0;
	font-weight: bold;
}

/* Header Section */

header .nav-container {
	border: 2px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.5rem;
}

header .nav-container a {
	font-size: 2.5rem;
	font-weight: bold;
}

header .nav-container .navbar nav a {
	margin: 0 auto;
	padding: 1rem;
	display: inline-block;
	color: darkslategray;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
}

header .nav-container .navbar nav a:hover {
	background-color: skyblue;
	color: white;
}

/* Big-Box Marquee */

.big-container {
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

section.big-box {
	background-image: url('/images/177-2515x1830.jpg');
	display: flex;
	flex-flow: row wrap;
	border: 1px solid black;
	border-radius: 0.4rem;
	width: 80rem;
	height: 40rem;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 800px){
	section.big-box {
		display: none;
	}
}

section .button {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: transparent;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 25rem;
	height: 1rem;
	margin: 0 auto;
}

section .button a {
	text-decoration: none;
}

section .button a:hover {
	box-sizing: border-box;
	animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

/* Animation help from https://freefrontend.com/css-text-animations/ - Luminence */

@keyframes reveal {
    80%  {letter-spacing: 8px;}
	100% {background-size: 300% 300%;}
}
@keyframes glow {
    40% {text-shadow: 0 0 8px #fff;}
}  

#gallery .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

#gallery .container .image:hover {
	opacity: 0.5;
}

#gallery .container .item1 .image {
	background-image: url("./images/119-3264x2176.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item2 .image {
	background-image: url("./images/1055-5472x3648.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item3 .image {
	background-image: url("./images/1043-5184x3456.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item4 .image {
	background-image: url("./images/1040-4496x3000.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item5 .image {
	background-image: url("./images/1029-4887x2759.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item6 .image {
	background-image: url("./images/1025-4951x3301.jpg");
	padding: 0.5rem;
	width: 20rem;
	height: 15rem;
	margin-top: 1rem;
}

#gallery .container .item .image {
	flex-flow: row wrap;
	width: 60rem;
	height: 60rem;
	justify-content: space-around;
	align-items: center; 
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 2rem;
	margin: 0 auto;
}

/* Footer */

footer.shoebox div {
	display: flex;
	background-color: gainsboro;
	color: whitesmoke;
	padding: 20px;
	justify-content: space-between;
	align-items: flex-start;
}

.shoebox .footnav p { /*This is the Follow Me text */
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	color: black;
}

.footnav .socnav .fa { /* This is the icon flex */
	display: flex;
	flex-direction: column;
	color: black;
	font-size: 2rem;
	margin: 20px;
}

.footnav .socnav a {
	text-decoration: none;
}

.shoebox .contact a { /* This is the Contact Me button */
	display: flex;
	border: 1px solid black;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	background: lightblue;
	color: darkslategrey;
}

.shoebox .contact a:hover {
	background: aliceblue;
}

@media (max-width: 500px){
	.shoebox .footnav p {
		display: none;
	}	
}

/* About Page */

.container {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.container img {
	width: 30%;
}

article {
	display: flex;
	width: 70%;
	justify-content: space-between;
	font-size: 1.8rem;
	padding: 10px;
}

article.about {
	flex-flow: column wrap;
	justify-content: center;
}

/* Form help from freecodecamp.com */

.container form {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px;  
	border: 1px solid gray; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}