/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

* {
	color: darkslategray;
}

body {
	background-color: whitesmoke;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

h1 {
	display: block;
	font-size: 2em;
	margin: 0.67em 0 0.67em 0;
	font-weight: bold;
}

/* Header Section */

header .nav-container {
	border: 2px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .nav-container a {
	font-size: 2em;
	font-weight: bold;
}

header .nav-container .navbar nav a {
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	color: darkslategray;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
}

header .nav-container .navbar nav a:hover {
	background-color: skyblue;
	color: white;
}

/* Big-Box Marquee */

.big-container {
	display: flex;
	justify-content: center;
}

section.big-box {
	background-image: url('/images/177-2515x1830.jpg');
	display: flex;
	flex-flow: row wrap;
	border: 1px solid black;
	border-radius: 4px;
	width: 800px;
	height: 400px;
	justify-content: space-around;
	align-items: center;

}

section .button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 150px;
	height: 10px;
	margin: 0 auto;
}

#gallery .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

#gallery .container .image:hover {
	opacity: 0.5;
}

#gallery .container .item1 .image {
	background-image: url("./images/119-3264x2176.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item2 .image {
	background-image: url("./images/1055-5472x3648.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item3 .image {
	background-image: url("./images/1043-5184x3456.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item4 .image {
	background-image: url("./images/1040-4496x3000.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item5 .image {
	background-image: url("./images/1029-4887x2759.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item6 .image {
	background-image: url("./images/1025-4951x3301.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item .image {
	flex-flow: row wrap;
	width: 600px;
	height: 600px;
	justify-content: space-around;
	align-items: center; 
	box-sizing: border-box;
	padding: 10px;
	border-radius: 20px;
	margin: 0 auto;
}

/* Footer */

footer.shoebox div {
	display: flex;
	background-color: darkorchid;
	color: whitesmoke;
	padding: 20px;
	justify-content: space-around;
	align-items: flex-start;
}

.shoebox .footnav p { /*This is the Follow Me text */
	display: flex;
	justify-content: space-between;
	color: white;
}

.socnav .fa { /* This is the icon flex */
	display: flex;
	color: white;
	align-items: space-around;
}

.shoebox .contact a { /* This is the Contact Me button */
	display: flex;
	color: white;
}

/* Form help from freecodecamp.com */

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px;  
	border: 1px solid gray; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}