/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

* {
	color: darkslategray;
}

body {
	background-color: whitesmoke;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

h1 {
	display: block;
	font-size: 2em;
	margin: 0.67em 0 0.67em 0;
	font-weight: bold;
}

header .nav-container {
	border: 2px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .nav-container a {
	font-size: 2em;
	font-weight: bold;
}

header .nav-container .navbar nav a {
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	color: darkslategray;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
}

header .nav-container .navbar nav a:hover {
	background-color: skyblue;
	color: white;
}

section.big-box {
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid black;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	width: 600px;
	height: 600px;
}

section.big-box .namebox {
	width: 200px;
	height: 200px;
	margin: auto;
}

#gallery .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

#gallery .container .item1 .image {
	background-image: url("./images/119-3264x2176.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

/* .caption {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
} */

#gallery .container .item2 .image {
	background-image: url("./images/1055-5472x3648.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item3 .image {
	background-image: url("./images/1043-5184x3456.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item4 .image {
	background-image: url("./images/1040-4496x3000.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item5 .image {
	background-image: url("./images/1029-4887x2759.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item6 .image {
	background-image: url("./images/1025-4951x3301.jpg");
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
}

#gallery .container .item .image {
	flex-flow: row wrap;
	width: 600px;
	height: 600px;
	justify-content: space-around;
	align-items: center; 
	box-sizing: border-box;
	padding: 10px;
	border-radius: 20px;
	margin: 0 auto;
}

footer .footnav {
	background: transparent;
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.footnav .socnav img {
	display: flex;
	flex-flow: row wrap;
	width: 10%;
	justify-content: flex-end;
	/* align-items: flex-end; */
}

/* .socnav .fbicon {
	width: 10%;
	align-items: flex-start;
}

.socnav .gramicon {
	width: 10%;
	align-items: flex-start;
}

.socnav img.linkicon {
	width: 10%;
	align-items: flex-start;
} */